# Ignora tudo por padrão (apenas na raiz)
*/

# Re-inclui diretórios para poder liberar conteúdo
!*/

# Mantém estes arquivos/pastas
!.gitignore
!/package.json
!/package-lock.json
!/tsconfig.json
!/README.md

# Pastas (com tudo dentro)
!/src/**
!/certificado/**
!/tecnospeedTxts/**
!/uploads/**
!/xml/**
