# 1) Ignore tudo
*

# 2) Reabilita a travessia de diretórios (para a whitelist funcionar)
!*/

# 3) Arquivos na raiz que devem ficar versionados
!.gitignore
!/package.json
!/package-lock.json
!/tsconfig.json
!/README.md

# 4) Pastas permitidas (com tudo dentro)
!/src/**
!/certificado/**
!/tecnospeedTxts/**
!/uploads/**
!/xml/**

# 5) Sempre ignore estes (mesmo se estiverem dentro das pastas whitelisted)
node_modules/
dist/
.docker/dbdata/
.docker/redisdata/
.env*
.docker/dbdata/
